*.o
*.a

advio/devzero
advio/mcopy
advio/nonblockw
advio/pendlock
lib/ptyopen.c
sockets/bindunix
sockets/bo
sockets/findsvc
sockets/ruptime
sockets/ruptime-dg
sockets/ruptimed
sockets/ruptimed-dg
sockets/ruptimed-fd
call/call
calld/calld
db/t4
environ/doatexit
environ/testjmp
environ/testjmp.opt
exercises/getlogin
exercises/getpw44bsd
exercises/goodexit
exercises/sizepipe
file/access
file/cdpwd
file/changemod
file/devrdev
file/fileflags
file/filetype
file/ftw4
file/hello
file/hole
file/longpath
file/ls1
file/mycd
file/seek
file/testerror
file/uidgid
file/umask
file/unlink
file/zap
ipc/add2
ipc/add2stdio
ipc/fifo1
ipc/myuclc
ipc/pipe1
ipc/pipe2
ipc/pipe4
ipc/popen1
ipc/popen2
ipc/spipe4
ipc/tshm
ipp/print
ipp/printd
lock/deadlock
lock/mandatory
mycat/fgetsfputs
mycat/getcputc
mycat/mycat
open.fe/openclient
open/openclient
opend.fe/opend
opend/opend.poll
opend/opend.select
proc/echoall
proc/echoarg
proc/exec1
proc/exec2
proc/fork1
proc/fork2
proc/pracct
proc/pruids
proc/shell1
proc/shell2
proc/systest1
proc/systest2
proc/systest3
proc/tellwait1
proc/tellwait2
proc/test1
proc/times1
proc/vfork1
proc/vfork3
proc/wait1
proc/zombie
pty/pty
sess/orphan3
signals/critical
signals/mask
signals/read1
signals/read2
signals/reenter
signals/sigtstp
signals/sigusr
signals/suspend1
signals/suspend2
signals/tsleep2
std/conf
std/conf.c
std/options
std/options.c
stdio/buf
stdio/tempfiles
stdio/tempnam
termios/csize
termios/settty
termios/t_getpass
termios/t_isatty
termios/t_raw
termios/t_ttyname
termios/winch
threadctl/atfork
threadctl/suspend
threadctl/timeout
threads/badexit2
threads/cleanup
threads/exitstatus
threads/threadid
